<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% load static %}
<link rel = "stylesheet" type = "text/css" href = "{% static 'book/book_detail.css' %} "> 
</br>
<div class="row">
    <div class="col-md-8">
        <div class="card text-center">
        <div class="card-header card text-white bg-primary mb-3"><b>
            {{object.Book_Name}}'s Detail</b>
        </div>
        <div class="card-body">
            <p class="card-text"><b>Book Name: </b>{{object.Book_Name}}</br>Author: {{object.Author}}</br> Published Date: {{object.PublishDate}}</p>
            {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
        </div>
        {% comment %} <div class="card-footer text-muted">
            2 days ago
        </div> {% endcomment %}
        </div>
    </div>
</div>

